<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WSA_TouchHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <WSA_TouchHelper.Properties.Settings>
            <setting name="X1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="X2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="X3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="X4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="X5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="X6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="X7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="X8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="X9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="X10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="X11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="X12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="X13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="X14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="X15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y15" serializeAs="String">
                <value>0</value>
            </setting>
        </WSA_TouchHelper.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
